DISCORD_BOT_TOKEN=
DEEPL_KEY=
FFMPEG_PATH="/usr/bin/ffmpeg"
FFMPEG_ARGS="-c:a copy -c:v h264_rkmpp -pix_fmt nv12 -b:v 1M -g 60 -rc_mode 0"
NAVIDROME_AUTH=
NAVIDROME_INSTANCE=
AI_KEY=
PULSOID_ID=
GEMINI_KEY=